In [1]:
import pandas as pd
df=pd.read_excel('hotelBookings.xlsx')

In [2]:
#all items in the hotel column are resort hotel and all items in the company column are NaN, therefore these will be removed
removed_columns=['hotel','company']
df=df[[item for item in df.columns if item not in removed_columns]]

In [34]:
import pandas as pd
df = pd.read_excel('dataProject4.xlsx',header=4,sheet_name='20000-211000')
df=df.iloc[:,:7].join(df.iloc[:,7:].rename(columns={df.iloc[:,7:].columns[i]:f'volume {2018+i}' for i in range(len(df.iloc[:,7:].columns))}))
df=df.rename(columns={df.columns[i]:df.columns[i].split('. ')[-1] for i in range(len(df.columns))})

In [35]:
print(f'are there any NaN cells in non-result rows? {(df[df.isna().any(axis=1)]['Customer Classification (CRM)']!='Result').any()}')

are there any NaN cells in non-result rows? False

In [37]:
len(df[(df.loc[:,['Brand name']] == 'Not assigned').any(axis=1)]['2f. Customer number'].unique()),len(df['2f. Customer number'].unique())

(1, 896)

In [62]:
a=df['Brand name'] == 'Not assigned'
print(len(df[a]), len(df))
d

1 82334

,Customer number,Postal Code,Customer Classification (CRM),Horeca menu webshop,name Webshop,Brand name,Contents,volume 2018,volume 2019,volume 2020,volume 2021,volume 2022
71067,209921,5051 DS,Drankenhandel,Bier - Blond,Geef en Geniet,Not assigned,19.5,0.0,0.78,0.0,0.0,0.0

In [70]:
df[(df=='Not assigned').sum(axis=1)>=2]

,Customer number,Postal Code,Customer Classification (CRM),Horeca menu webshop,name Webshop,Brand name,Contents,volume 2018,volume 2019,volume 2020,volume 2021,volume 2022
429,200046,7607 AE,Hotel,Not assigned,Not assigned,BAVARIA,0.3,0.0,0.0,0.504,0.0,3.1104
487,200053,1185 XP,Overige Sport,Not assigned,Not assigned,BAVARIA,0.3,0.0,0.0,0.000,0.0,0.2592
603,200062,6075 CD,Golf,Not assigned,Not assigned,BAVARIA,0.3,0.0,0.0,0.504,0.0,0.0000
787,200073,6702 PB,Studenten,Not assigned,Not assigned,BAVARIA,0.3,0.0,0.0,0.288,0.0,0.5184
1129,200078,3524 BN,Zaal / Partycentrum,Not assigned,Not assigned,BAVARIA,0.3,0.0,0.0,0.000,0.0,0.1728
...,...,...,...,...,...,...,...,...,...,...,...,...
81339,210929,4463 AJ,Overige Sport,Not assigned,Not assigned,BAVARIA,0.3,0.0,0.0,0.000,0.0,0.2592
81532,210955,5706 CT,Café,Not assigned,Not assigned,BAVARIA,0.3,0.0,0.0,0.144,0.0,0.0864
81748,210986,3632 AJ,Hockey,Not assigned,Not assigned,BAVARIA,0.3,0.0,0.0,0.288,0.0,0.0000
82218,210999,7312 TS,Jeugdherberg,Not assigned,Not assigned,BAVARIA,0.3,0.0,0.0,0.072,0.0,0.2592
82332,211000,6815 AH,Jeugdherberg,Not assigned,Not assigned,BAVARIA,0.3,0.0,0.0,0.072,0.0,0.0864

In [51]:
a=pd.DataFrame({
    'a':[1,2,3,4],
    'b':[5,6,7,8]
})
drdx=[1,2,3]
a.iloc[[item for item in a.index if item not in drdx],:]

   a  b
0  1  5