In [1]:
import pandas as pd
df=pd.read_excel('hotelBookings.xlsx')

In [2]:
#all items in the hotel column are resort hotel and all items in the company column are NaN, therefore these will be removed
removed_columns=['hotel','company']
df=df[[item for item in df.columns if item not in removed_columns]]

In [1]:
import pandas as pd
df = pd.read_excel('dataProject4.xlsx',header=4,sheet_name='20000-211000')
df=df.iloc[:,:7].join(df.iloc[:,7:].rename(columns={df.iloc[:,7:].columns[i]:f'volume {2018+i}' for i in range(len(df.iloc[:,7:].columns))}))

In [66]:
print(f'are there any NaN cells in non-result rows? {(df[df.isna().any(axis=1)]['Customer Classification (CRM)']!='Result').any()}')

are there any NaN cells in non-result rows? False

In [47]:
df['Horeca menu webshop'].isna()

RangeIndex(start=0, stop=82334, step=1)

In [33]:
df

,2f. Customer number,Postal Code,Customer Classification (CRM),Horeca menu webshop,Prd. name Webshop,1c. Brand name,Contents,volume 2018,volume 2019,volume 2020,volume 2021,volume 2022
0,200001,5735 SC,Voetbal,Bier - Alcoholvrij/a,0.0,PALM,0.25,0.000,0.000,0.060,0.000,0.0000
1,200001,5735 SC,Voetbal,Bier - Alcoholvrij/a,0.0 IPA,BAVARIA,0.30,0.000,0.072,0.144,0.000,0.0000
2,200001,5735 SC,Voetbal,Bier - Alcoholvrij/a,0.0 Original,BAVARIA,0.30,0.000,0.000,0.000,0.072,0.4320
3,200001,5735 SC,Voetbal,Bier - Alcoholvrij/a,0.0 Radler,BAVARIA,0.30,0.000,0.792,0.360,0.180,0.4320
4,200001,5735 SC,Voetbal,Bier - Alcoholvrij/a,0.0 Wit,BAVARIA,0.30,0.000,0.000,0.000,0.000,0.0864
...,...,...,...,...,...,...,...,...,...,...,...,...
82329,211000,6815 AH,Jeugdherberg,Wijn - Wit,Winzerschoppen,KONIGSHOF,1.00,0.000,0.540,0.120,0.060,0.4320
82330,211000,6815 AH,Jeugdherberg,Zuivel - Chocomel,Not assigned,CHOCOMEL,0.20,0.960,0.768,0.528,0.720,0.5184
82331,211000,6815 AH,Jeugdherberg,Zuivel - Fruitzuivel,Rood Fruit,FRISTI,0.20,0.336,0.288,0.240,0.240,0.7488
82332,211000,6815 AH,Jeugdherberg,Not assigned,Not assigned,BAVARIA,0.30,0.000,0.000,0.072,0.000,0.0864
82333,211000,6815 AH,Result,NaN,NaN,NaN,NaN,121.783,125.645,42.527,41.212,69.3480