In [1]:
import pandas as pd
df=pd.read_excel('hotelBookings.xlsx')

In [2]:
#all items in the hotel column are resort hotel and all items in the company column are NaN, therefore these will be removed
removed_columns=['hotel','company']
df=df[[item for item in df.columns if item not in removed_columns]]

In [34]:
import pandas as pd
df = pd.read_excel('dataProject4.xlsx',header=4,sheet_name='20000-211000')
df=df.iloc[:,:7].join(df.iloc[:,7:].rename(columns={df.iloc[:,7:].columns[i]:f'volume {2018+i}' for i in range(len(df.iloc[:,7:].columns))}))
df=df.rename(columns={df.columns[i]:df.columns[i].split('. ')[-1] for i in range(len(df.columns))})

In [35]:
print(f'are there any NaN cells in non-result rows? {(df[df.isna().any(axis=1)]['Customer Classification (CRM)']!='Result').any()}')

are there any NaN cells in non-result rows? False

In [37]:
len(df[(df.loc[:,['Brand name']] == 'Not assigned').any(axis=1)]['2f. Customer number'].unique()),len(df['2f. Customer number'].unique())

(1, 896)

In [62]:
a=df['Brand name'] == 'Not assigned'
print(len(df[a]), len(df))
d

1 82334

,Customer number,Postal Code,Customer Classification (CRM),Horeca menu webshop,name Webshop,Brand name,Contents,volume 2018,volume 2019,volume 2020,volume 2021,volume 2022
71067,209921,5051 DS,Drankenhandel,Bier - Blond,Geef en Geniet,Not assigned,19.5,0.0,0.78,0.0,0.0,0.0

In [70]:
df[(df=='Not assigned').sum(axis=1)>=2]

,Customer number,Postal Code,Customer Classification (CRM),Horeca menu webshop,name Webshop,Brand name,Contents,volume 2018,volume 2019,volume 2020,volume 2021,volume 2022
429,200046,7607 AE,Hotel,Not assigned,Not assigned,BAVARIA,0.3,0.0,0.0,0.504,0.0,3.1104
487,200053,1185 XP,Overige Sport,Not assigned,Not assigned,BAVARIA,0.3,0.0,0.0,0.000,0.0,0.2592
603,200062,6075 CD,Golf,Not assigned,Not assigned,BAVARIA,0.3,0.0,0.0,0.504,0.0,0.0000
787,200073,6702 PB,Studenten,Not assigned,Not assigned,BAVARIA,0.3,0.0,0.0,0.288,0.0,0.5184
1129,200078,3524 BN,Zaal / Partycentrum,Not assigned,Not assigned,BAVARIA,0.3,0.0,0.0,0.000,0.0,0.1728
...,...,...,...,...,...,...,...,...,...,...,...,...
81339,210929,4463 AJ,Overige Sport,Not assigned,Not assigned,BAVARIA,0.3,0.0,0.0,0.000,0.0,0.2592
81532,210955,5706 CT,Café,Not assigned,Not assigned,BAVARIA,0.3,0.0,0.0,0.144,0.0,0.0864
81748,210986,3632 AJ,Hockey,Not assigned,Not assigned,BAVARIA,0.3,0.0,0.0,0.288,0.0,0.0000
82218,210999,7312 TS,Jeugdherberg,Not assigned,Not assigned,BAVARIA,0.3,0.0,0.0,0.072,0.0,0.2592
82332,211000,6815 AH,Jeugdherberg,Not assigned,Not assigned,BAVARIA,0.3,0.0,0.0,0.072,0.0,0.0864

In [257]:
import pandas as pd
df=pd.read_excel('detailedRetail.xlsx')
df_report=pd.DataFrame({
})

In [246]:
for loop, name in zip(range(len(df['Sales Manager'].unique())), df['Sales Manager'].unique()):
    for i in range(len(df['Category'].unique())):
        df_report.loc[i+(len(df.Category.unique())+1)*loop,'Category']=f'{name}: {df['Category'].unique()[i]}'
        for month in df['Month'].unique():
            df_report.loc[i+(len(df.Category.unique())+1)*loop,month]=df[(df['Category']==df['Category'].unique()[i]) * (df['Month']==month)*(df['Sales Manager']==name)]['Sales'].sum()
        df_report.loc[i+(len(df.Category.unique())+1)*loop,'Total revenue months']=df[(df['Category']==df['Category'].unique()[i])*(df['Sales Manager']==name)]['Sales'].sum()
    df_report.loc[(len(df.Category.unique())+1)*(loop+1)-1,'Category']=f'{name} Total' 
    for colm in [item for item in df_report.columns if item != 'Category']:
        df_report.loc[(len(df.Category.unique())+1)*(loop+1)-1,colm]=sum(df_report.loc[(len(df.Category.unique())+1)*loop:(len(df.Category.unique())+1)*(loop+1)-2,colm])

In [247]:
loop=len(df['Sales Manager'].unique())
for i in range(len(df['Category'].unique())):
    df_report.loc[i+(len(df.Category.unique())+1)*loop,'Category']=f'total:\n {df['Category'].unique()[i]}'
    for month in df['Month'].unique():
        df_report.loc[i+(len(df.Category.unique())+1)*loop,month]=df[(df['Category']==df['Category'].unique()[i]) * (df['Month']==month)]['Sales'].sum()
    df_report.loc[i+(len(df.Category.unique())+1)*loop,'Total revenue months']=df[(df['Category']==df['Category'].unique()[i])]['Sales'].sum()
df_report.loc[(len(df.Category.unique())+1)*(loop+1)-1,'Category']='Final Total'
for colm in [item for item in df_report.columns if item != 'Category']:
    df_report.loc[(len(df.Category.unique())+1)*(loop+1)-1,colm]=sum(df_report.loc[(len(df.Category.unique())+1)*loop:(len(df.Category.unique())+1)*(loop+1)-2,colm])

In [229]:
for loop in range(len(df['Sales Manager'].unique())+1):
    df_report=df_report.style.map(df_style, subset=(len(df.Category.unique())+1)*(loop+1)-1)

AttributeError: 'Styler' object has no attribute 'style'

In [128]:
len(df_report.index)

36

In [73]:
(df.sort_values(by=['Sales'],ascending=False)['Sales Manager']=='Donald Ducker') * (df.sort_values(by=['Sales'],ascending=False)['Month']=='May')

0      False
36     False
144     True
2      False
38     False
       ...
131    False
132    False
94     False
166    False
130    False
Length: 180, dtype: bool

In [246]:
a=pd.DataFrame({
    'a':[1,2,3,4,5],
    'b':[6,7,8,9,10]
})

In [18]:
df_report.loc[(len(df.Category.unique())+1)*loop:(len(df.Category.unique())+1)*(loop+1)-2,colm]

259        0.0
260        0.0
261        0.0
262        0.0
263        0.0
264        0.0
265        0.0
266        0.0
267        0.0
268        0.0
269        0.0
270        0.0
271        0.0
272        0.0
273        0.0
274        0.0
275        0.0
276        0.0
277        0.0
278        0.0
279        0.0
280        0.0
281        0.0
282        0.0
283        0.0
284    29181.0
285        0.0
286        0.0
287        0.0
288        0.0
289        0.0
290        0.0
291        0.0
292        0.0
293        0.0
294        0.0
Name: Total revenue, dtype: float64

In [215]:
2*(len(df['Category'].unique())+1)

74

In [117]:
pd.set_option('display.max_rows', 60)

In [66]:
a=pd.DataFrame({
    'a':[1,2,3,4]
})

In [76]:
a.loc[:,'woot']=['mario','luigi','wario','waluigi']

In [77]:
a

   a     woot
0  1    mario
1  2    luigi
2  3    wario
3  4  waluigi

In [256]:
def df_style(val):
    return "font-weight: bold"
df_report.style.map(df_style, subset=3)

In [243]:
df_report