In [1]:
import pandas as pd
df=pd.read_excel('hotelBookings.xlsx')

In [2]:
#all items in the hotel column are resort hotel and all items in the company column are NaN, therefore these will be removed
removed_columns=['hotel','company']
df=df[[item for item in df.columns if item not in removed_columns]]

In [34]:
import pandas as pd
df = pd.read_excel('dataProject4.xlsx',header=4,sheet_name='20000-211000')
df=df.iloc[:,:7].join(df.iloc[:,7:].rename(columns={df.iloc[:,7:].columns[i]:f'volume {2018+i}' for i in range(len(df.iloc[:,7:].columns))}))
df=df.rename(columns={df.columns[i]:df.columns[i].split('. ')[-1] for i in range(len(df.columns))})

In [35]:
print(f'are there any NaN cells in non-result rows? {(df[df.isna().any(axis=1)]['Customer Classification (CRM)']!='Result').any()}')

are there any NaN cells in non-result rows? False

In [37]:
len(df[(df.loc[:,['Brand name']] == 'Not assigned').any(axis=1)]['2f. Customer number'].unique()),len(df['2f. Customer number'].unique())

(1, 896)

In [62]:
a=df['Brand name'] == 'Not assigned'
print(len(df[a]), len(df))
d

1 82334

,Customer number,Postal Code,Customer Classification (CRM),Horeca menu webshop,name Webshop,Brand name,Contents,volume 2018,volume 2019,volume 2020,volume 2021,volume 2022
71067,209921,5051 DS,Drankenhandel,Bier - Blond,Geef en Geniet,Not assigned,19.5,0.0,0.78,0.0,0.0,0.0

In [70]:
df[(df=='Not assigned').sum(axis=1)>=2]

,Customer number,Postal Code,Customer Classification (CRM),Horeca menu webshop,name Webshop,Brand name,Contents,volume 2018,volume 2019,volume 2020,volume 2021,volume 2022
429,200046,7607 AE,Hotel,Not assigned,Not assigned,BAVARIA,0.3,0.0,0.0,0.504,0.0,3.1104
487,200053,1185 XP,Overige Sport,Not assigned,Not assigned,BAVARIA,0.3,0.0,0.0,0.000,0.0,0.2592
603,200062,6075 CD,Golf,Not assigned,Not assigned,BAVARIA,0.3,0.0,0.0,0.504,0.0,0.0000
787,200073,6702 PB,Studenten,Not assigned,Not assigned,BAVARIA,0.3,0.0,0.0,0.288,0.0,0.5184
1129,200078,3524 BN,Zaal / Partycentrum,Not assigned,Not assigned,BAVARIA,0.3,0.0,0.0,0.000,0.0,0.1728
...,...,...,...,...,...,...,...,...,...,...,...,...
81339,210929,4463 AJ,Overige Sport,Not assigned,Not assigned,BAVARIA,0.3,0.0,0.0,0.000,0.0,0.2592
81532,210955,5706 CT,Caf√©,Not assigned,Not assigned,BAVARIA,0.3,0.0,0.0,0.144,0.0,0.0864
81748,210986,3632 AJ,Hockey,Not assigned,Not assigned,BAVARIA,0.3,0.0,0.0,0.288,0.0,0.0000
82218,210999,7312 TS,Jeugdherberg,Not assigned,Not assigned,BAVARIA,0.3,0.0,0.0,0.072,0.0,0.2592
82332,211000,6815 AH,Jeugdherberg,Not assigned,Not assigned,BAVARIA,0.3,0.0,0.0,0.072,0.0,0.0864

In [52]:
def assign_name_and_category_to_column(name_func,category_func):
    df_report.loc[i+(len(df.Category.unique())+1)*loop,'Sales Manager']=name_func
    df_report.loc[i+(len(df.Category.unique())+1)*loop,'Category']=category_func

In [148]:
import pandas as pd
df=pd.read_excel('detailedRetail.xlsx')

In [149]:
def df_to_report(df):
    df_report=pd.DataFrame({}) 
    #loop over all unique sales managers
    for loop, name in zip(range(len(df['Sales Manager'].unique())), df['Sales Manager'].unique()):
        #loop over all unique categories
        for i,category in zip(range(len(df['Category'].unique())),df['Category'].unique()):
            #assign a name and categories to the current row
            df_report.loc[i+(len(df.Category.unique())+1)*loop,'Sales Manager']=name
            df_report.loc[i+(len(df.Category.unique())+1)*loop,'Category']=category
            #loop over all unique months and fill in the sales per month per category per manager
            for month in df['Month'].unique():
                df_report.loc[i+(len(df.Category.unique())+1)*loop,month]=df[(df['Category']==category) * (df['Month']==month)*(df['Sales Manager']==name)]['Sales'].sum()
            #fill in the total of months sales per category per manager
            df_report.loc[i+(len(df.Category.unique())+1)*loop,'Total of Month']=df[(df['Category']==category)*(df['Sales Manager']==name)]['Sales'].sum()
        #assign a name and total label to total categories row
        df_report.loc[(len(df.Category.unique())+1)*(loop+1)-1,'Sales Manager']=name
        df_report.loc[(len(df.Category.unique())+1)*(loop+1)-1,'Category']='Total of Category' 
        #loop over all columns containing numbers
        for colm in [item for item in df_report.columns if item != 'Category' and item!= 'Sales Manager']:
            #fill in total of categories per month per manager and total of categories and months per manager
            df_report.loc[(len(df.Category.unique())+1)*(loop+1)-1,colm]=sum(df_report.loc[(len(df.Category.unique())+1)*loop:(len(df.Category.unique())+1)*(loop+1)-2,colm])
    #one final loop for the total of managers
    loop=len(df['Sales Manager'].unique())
    #loop over all unique categories
    for i,category in zip(range(len(df['Category'].unique())),df['Category'].unique()):
        #assign a name and categories to the current row
        df_report.loc[i+(len(df.Category.unique())+1)*loop,'Sales Manager']='Total of Sales Manager'
        df_report.loc[i+(len(df.Category.unique())+1)*loop,'Category']=category
        #loop over all unique months and fill in the total manager sales per month per category 
        for month in df['Month'].unique():
            df_report.loc[i+(len(df.Category.unique())+1)*loop,month]=df[(df['Category']==category) * (df['Month']==month)]['Sales'].sum()
        #fill in the total of month and manager sales per category
        df_report.loc[i+(len(df.Category.unique())+1)*loop,'Total of Month']=df[(df['Category']==category)]['Sales'].sum()
    #assign a name and total label to total categories row
    df_report.loc[(len(df.Category.unique())+1)*(loop+1)-1,'Sales Manager']='Total of Sales Manager'
    df_report.loc[(len(df.Category.unique())+1)*(loop+1)-1,'Category']='Total of Category'
    #loop over all columns containing numbers
    for colm in [item for item in df_report.columns if item != 'Category' and item != 'Sales Manager']:
    #fill in total of categories and manager per month and total of categories and months and managers
        df_report.loc[(len(df.Category.unique())+1)*(loop+1)-1,colm]=sum(df_report.loc[(len(df.Category.unique())+1)*loop:(len(df.Category.unique())+1)*(loop+1)-2,colm])
    return df_report

In [150]:
df_to_report(df)

,Sales Manager,Category,January,Feburary,March,April,May,Total of Month
0,Donald Ducker,"Retail and food services sales, total",529616.0,527273.0,483949.0,412576.0,487708.0,2441122.0
1,Donald Ducker,Retail sales and food services excl motor vehi...,0.0,0.0,0.0,0.0,0.0,0.0
2,Donald Ducker,Retail sales and food services excl gasoline s...,0.0,0.0,0.0,0.0,0.0,0.0
3,Donald Ducker,Retail sales and food services excl motor vehi...,0.0,0.0,0.0,0.0,0.0,0.0
4,Donald Ducker,"Retail sales, total",0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...
328,Total of Sales Manager,Nonstore retailers,68101.0,68924.0,72365.0,79245.0,84845.0,373480.0
329,Total of Sales Manager,Electronic shopping and mail order houses,60985.0,61620.0,65332.0,73585.0,78974.0,340496.0
330,Total of Sales Manager,Fuel dealers,2096.0,2107.0,1974.0,1940.0,2017.0,10134.0
331,Total of Sales Manager,Food services and drinking places,65554.0,65359.0,45728.0,29922.0,39507.0,246070.0
332,Total of Sales Manager,Total of Category,3610492.0,3597561.0,3422543.0,2954149.0,3412340.0,16997085.0

In [131]:
def report_to_percentage(df,df_report):
    df_percentage_categories=pd.DataFrame({})
    df_percentage_manager=pd.DataFrame({})
    df_percentage_months=pd.DataFrame({})

    #loop over a non-sales columns in the original data frame
    for loop,category in zip(range(len(df['Category'].unique())),df['Category'].unique()):
        #mark the row
        df_percentage_categories.loc[loop,'category']=category
        #add the percantage
        df_percentage_categories.loc[loop,'percentage of total categories']=div_series(df_report[(df_report['Sales Manager']=='total of managers')*(df_report['Category']==category)]['total of months'],df_report[(df_report['Sales Manager']=='total of managers')*(df_report['Category']=='total of categories')]['total of months'])
    #label the total
    df_percentage_categories.loc[loop+1,'category']='total'
    #order the items
    df_percentage_categories=df_percentage_categories.sort_values('percentage of total categories',ascending=False).reset_index(drop=True)
    #add in the total percentage (god i hope its one)
    df_percentage_categories.loc[loop+1,'percentage of total categories']=df_percentage_categories['percentage of total categories'].sum()

    #the rest are the same for the other non-sales columns in the original data frame
    for loop,name in zip(range(len(df['Sales Manager'].unique())),df['Sales Manager'].unique()):
        df_percentage_manager.loc[loop,'name']=name
        df_percentage_manager.loc[loop,'percentage of total managers']=div_series(df_report[(df_report['Sales Manager']==name)*(df_report['Category']=='total of categories')]['total of months'],df_report[(df_report['Sales Manager']=='total of managers')*(df_report['Category']=='total of categories')]['total of months'])
    df_percentage_manager.loc[loop+1,'name']='total'
    df_percentage_manager=df_percentage_manager.sort_values('percentage of total managers',ascending=False).reset_index(drop=True)
    df_percentage_manager.loc[loop+1,'percentage of total managers']=df_percentage_manager['percentage of total managers'].sum()

    for loop,month in zip(range(len(df['Month'].unique())),df['Month'].unique()):
        df_percentage_months.loc[loop,'month']=month
        df_percentage_months.loc[loop,'percentage of total months']=div_series(df_report[(df_report['Sales Manager']=='total of managers')*(df_report['Category']=='total of categories')][month],df_report[(df_report['Sales Manager']=='total of managers')*(df_report['Category']=='total of categories')]['total of months'])
    df_percentage_months.loc[loop+1,'month']='total'
    df_percentage_months=df_percentage_months.sort_values('percentage of total months',ascending=False).reset_index(drop=True)
    df_percentage_months.loc[loop+1,'percentage of total months']=df_percentage_months['percentage of total months'].sum()

    #return the merged data frame
    return df_percentage_categories.join(df_percentage_manager).join(df_percentage_months)
report_to_percentage(df,df_report)

,category,percentage of total categories,name,percentage of total managers,month,percentage of total months
0,"Retail and food services sales, total",0.143620,Dominique Kai,0.397171,January,0.212418
1,Retail sales and food services excl gasoline s...,0.133408,Vicky Dullo,0.174353,Feburary,0.211658
2,"Retail sales, total",0.129143,Donald Ducker,0.149679,March,0.201361
3,Retail sales and food services excl motor vehi...,0.116608,Jane Maria,0.149484,May,0.200760
4,Retail sales and food services excl motor vehi...,0.106396,John Doe,0.076354,April,0.173803
5,"Retail sales, total (excl. motor vehicle and p...",0.102131,Martin Miller,0.030301,total,1.000000
6,Motor vehicle and parts dealers,0.027012,Marc Jensen,0.020942,NaN,NaN
7,Automobile and other motor vehicle dealers,0.024783,Chen Cho,0.001717,NaN,NaN
8,Nonstore retailers,0.021973,total,1.000000,NaN,NaN
9,Food and beverage stores,0.020837,NaN,NaN,NaN,NaN
10,Electronic shopping and mail order houses,0.020033,NaN,NaN,NaN,NaN
11,Grocery stores,0.018658,NaN,NaN,NaN,NaN
12,General merchandise stores,0.017678,NaN,NaN,NaN,NaN
13,Other general merchandise stores,0.015016,NaN,NaN,NaN,NaN
14,Food services and drinking places,0.014477,NaN,NaN,NaN,NaN
15,Warehouse clubs and superstores,0.012811,NaN,NaN,NaN,NaN
16,Gasoline stations,0.010212,NaN,NaN,NaN,NaN
17,Building mat. and garden equip. and supplies d...,0.010022,NaN,NaN,NaN,NaN
18,Building mat. and supplies dealers,0.008768,NaN,NaN,NaN,NaN
19,Health and personal care stores,0.008579,NaN,NaN,NaN,NaN
20,Pharmacies and drug stores,0.007444,NaN,NaN,NaN,NaN
21,"Furniture, home furn, electronics, and applian...",0.004190,NaN,NaN,NaN,NaN
22,Clothing and clothing access. stores,0.003951,NaN,NaN,NaN,NaN
23,Miscellaneous stores retailers,0.002971,NaN,NaN,NaN,NaN
24,Clothing stores,0.002768,NaN,NaN,NaN,NaN
25,Department stores,0.002663,NaN,NaN,NaN,NaN
26,Furniture and home furnishings stores,0.002322,NaN,NaN,NaN,NaN
27,"Automotive parts, acc., and tire stores",0.002228,NaN,NaN,NaN,NaN
28,All other gen. merchandise stores,0.002205,NaN,NaN,NaN,NaN
29,Electronics and appliance stores,0.001869,NaN,NaN,NaN,NaN
30,"Sporting goods, hobby, musical instrument, and...",0.001717,NaN,NaN,NaN,NaN
31,"Beer, wine and liquor stores",0.001643,NaN,NaN,NaN,NaN
32,Fuel dealers,0.000596,NaN,NaN,NaN,NaN
33,Women's clothing stores,0.000581,NaN,NaN,NaN,NaN
34,Shoe stores,0.000581,NaN,NaN,NaN,NaN
35,Men's clothing stores,0.000105,NaN,NaN,NaN,NaN
36,total,1.000000,NaN,NaN,NaN,NaN

In [100]:
div_series(df_report[(df_report['Sales Manager']=='Donald Ducker')*(df_report['Category']=='total of categories')]['total of months'],df_report[(df_report['Sales Manager']=='total of managers')*(df_report['Category']=='total of categories')]['total of months'])

0.14967895965690586

In [141]:
def make_percentage_df(df,df_report,colm,):
    df_percentage=pd.DataFrame({})
    for loop,category in zip(range(len(df[colm].unique())),df[colm].unique()):
        df_percentage.loc[loop,colm]=category
        df_percentage.loc[loop,f'percentage of total {colm}']=div_series(df_report[(df_report[colm]==f'Total of {colm}')*(df_report['Category']==category)]['total of Months'],df_report[(df_report['Sales Manager']=='total of managers')*(df_report['Category']=='total of categories')]['total of months'])
    df_percentage.loc[loop+1,colm]='total'
    df_percentage=df_percentage.sort_values(f'percentage of total {colm}',ascending=False).reset_index(drop=True)
    df_percentage.loc[loop+1,f'percentage of total {colm}']=df_percentage[f'percentage of total {colm}'].sum()
    return df_percentage
make_percentage_df(df,df_report,'Category')

,Category,percentage of total Category
0,"Retail and food services sales, total",0.143620
1,Retail sales and food services excl gasoline s...,0.133408
2,"Retail sales, total",0.129143
3,Retail sales and food services excl motor vehi...,0.116608
4,Retail sales and food services excl motor vehi...,0.106396
5,"Retail sales, total (excl. motor vehicle and p...",0.102131
6,Motor vehicle and parts dealers,0.027012
7,Automobile and other motor vehicle dealers,0.024783
8,Nonstore retailers,0.021973
9,Food and beverage stores,0.020837
10,Electronic shopping and mail order houses,0.020033
11,Grocery stores,0.018658
12,General merchandise stores,0.017678
13,Other general merchandise stores,0.015016
14,Food services and drinking places,0.014477
15,Warehouse clubs and superstores,0.012811
16,Gasoline stations,0.010212
17,Building mat. and garden equip. and supplies d...,0.010022
18,Building mat. and supplies dealers,0.008768
19,Health and personal care stores,0.008579
20,Pharmacies and drug stores,0.007444
21,"Furniture, home furn, electronics, and applian...",0.004190
22,Clothing and clothing access. stores,0.003951
23,Miscellaneous stores retailers,0.002971
24,Clothing stores,0.002768
25,Department stores,0.002663
26,Furniture and home furnishings stores,0.002322
27,"Automotive parts, acc., and tire stores",0.002228
28,All other gen. merchandise stores,0.002205
29,Electronics and appliance stores,0.001869
30,"Sporting goods, hobby, musical instrument, and...",0.001717
31,"Beer, wine and liquor stores",0.001643
32,Fuel dealers,0.000596
33,Women's clothing stores,0.000581
34,Shoe stores,0.000581
35,Men's clothing stores,0.000105
36,total,1.000000

In [145]:
df_report.iloc[30:40,:]

,Sales Manager,Category,January,Feburary,March,April,May,total of Month
30,Donald Ducker,All other gen. merchandise stores,0.0,0.0,0.0,0.0,0.0,0.0
31,Donald Ducker,Miscellaneous stores retailers,0.0,0.0,0.0,0.0,0.0,0.0
32,Donald Ducker,Nonstore retailers,0.0,0.0,0.0,0.0,0.0,0.0
33,Donald Ducker,Electronic shopping and mail order houses,0.0,0.0,0.0,0.0,0.0,0.0
34,Donald Ducker,Fuel dealers,0.0,0.0,0.0,0.0,0.0,0.0
35,Donald Ducker,Food services and drinking places,0.0,0.0,0.0,0.0,0.0,0.0
36,Donald Ducker,total of Category,556075.0,553518.0,505128.0,424195.0,505190.0,2544106.0
37,Dominique Kai,"Retail and food services sales, total",0.0,0.0,0.0,0.0,0.0,0.0
38,Dominique Kai,Retail sales and food services excl motor vehi...,423982.0,422044.0,405952.0,344151.0,385871.0,1982000.0
39,Dominique Kai,Retail sales and food services excl gasoline s...,487059.0,485971.0,449466.0,386508.0,458548.0,2267552.0

In [99]:
def div_series(numorator,denumorator):
    return float(numorator.iloc[0])/float(denumorator.iloc[0])

In [215]:
2*(len(df['Category'].unique())+1)

74

In [117]:
pd.set_option('display.max_rows', 60)

In [66]:
a=pd.DataFrame({
    'a':[1,2,3,4]
})

In [76]:
a.loc[:,'woot']=['mario','luigi','wario','waluigi']

In [77]:
a

   a     woot
0  1    mario
1  2    luigi
2  3    wario
3  4  waluigi

In [139]:
df2 = df1.copy()
with pd.ExcelWriter('output.xlsx') as writer:  
    df1.to_excel(writer, sheet_name='Sheet_name_1')
    df2.to_excel(writer, sheet_name='Sheet_name_2')

NameError: name 'df1' is not defined