In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import statsmodels.api as sm
from sklearn.metrics import r2_score, root_mean_squared_error

In [3]:
df=pd.read_csv('winequality-red.csv',sep=';')
df.head(2)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.0,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.0,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5

In [7]:
df[['fixed acidity','volatile acidity']]

      fixed acidity  volatile acidity
0               7.4             0.700
1               7.8             0.880
2               7.8             0.760
3              11.2             0.280
4               7.4             0.700
...             ...               ...
1594            6.2             0.600
1595            5.9             0.550
1596            6.3             0.510
1597            5.9             0.645
1598            6.0             0.310

[1599 rows x 2 columns]